{{ with .Site.Params.about }}
<script
  src="https://kit.fontawesome.com/b75318977d.js"
  crossorigin="anonymous"
></script>
<div class="aside__about">
  {{ with .logo }}<i class="fa-solid fa-book-bookmark" aria-hidden="true"></i>{{
  end }}
  <h1 class="about__title">{{ .title }}</h1>
  {{ with .description }}
  <p class="about__description">{{ . | markdownify }}</p>
  {{ end }}
</div>
{{ end }}

<ul class="aside__social-links">
  {{ range $item := .Site.Params.socialLinks }}
  <li>
    <a
      href="{{ $item.url }}"
      rel="me"
      aria-label="{{ $item.title }}"
      title="{{ $item.title }}"
      ><i class="{{ $item.icon }}" aria-hidden="true"></i></a
    >&nbsp;
  </li>
  {{ end }}
</ul>
